<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnWhales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: 'navigation' %>

      <%= alert_message :success, notice %>
      <%= alert_message :warning, alert %>

      <%= yield %>
    </div>
  </body>
</html>
